*{
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2e2d2d;
    color: #ffff;
}

a{
    text-decoration: none;
    color: #F7D354;
    transition: .5s;
}

a:hover {
    color: #b8930c;
}

